<header>
    <nav>
        <div class="heading">
            <h1>Issue Tracker ~</h1>
            <a id="createProject" href="/project/createProject"><i class='bx bx-message-square-add'></i> Create Project</a>
        </div>
    </nav>
</header>