<!-- creating new project -->
<div class="createProject">
    <div class="create-box">
        <h2>Create New Project</h2>
        <form action="/project/create" method="post">
            <div class="user-box">
                <input type="text" name="projectname" id="" required>
                <label>Name of project</label>
            </div>
            <div class="user-box">
                <input type="text" name="projectdescription" id="" required>
                <label>Description of project</label>
            </div>
            <div class="user-box">
                <input type="text" name="projectauthor" id="" required>
                <label>Author of project</label>
            </div>
            <a href="#">
                <input type="submit" value="Create a project">
            </a>
        </form>       
      </div>
</div>