<div class="create-project">
    <div class="create-box">
        <h2>Report Issue</h2>
        <form action="/issue/create" method="post">
            <div class="user-box">
                <input type="text" name="title" required>
                <label>Issue Title</label>
            </div>
            <div class="user-box">
                <input type="text" name="description" required>
                <label>Issue Description</label>
            </div>
            <div class="user-box">
                <input type="text" name="author" required>
                <label>Author Name</label>
            </div>
            <input type="hidden" name="projectRef" value="<%= projectId %>">
            <div class="user-box">
                <select name="labels" id="selectbox" required>
                    <option value="" disabled selected>Select Issue</option>
                    <option>UI Implementation</option>
                    <option>Enhancement</option>
                    <option>Documentation</option>
                    <option>Duplicate</option>
                    <option>Runtime Error</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="user-box">
                <button type="submit"><i class='bx bx-bug'></i> Submit</button>
            </div>
        </form>
    </div>
</div>